:root {
    --headingh-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins, sans-serif";
    --secondary-color: fuchsia;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --background: rgb(0, 132, 255);
    --gradient: radial-gradient(
      circle at 10% 20%,
      rgba(91, 173, 254, 0.46) 0%,
      rgba(91, 224, 254, 0.46) 47.2%,
      rgba(170, 254, 235, 0.43) 90%
    );
  }
  body {
    font-family: var(--default-font-family);
    margin: 100px 0;
  }
  
  h1,
  h2,
  h3 {
    font-family: var(--headingh-font-family);
    font-weight: bold;
    margin: 0;
  }
  
  h1 {
    font-size: 96px;
    line-height: 1.5;
  }
  
  h2 {
    font-size: 48px;
    text-align: center;
  }
  
  h3 {
    font-size: 24px;
    opacity: 0.7;
  }
  
  p {
    background: var(--gradient);
    color: var(--background);
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
  }
  .hero {
    background: var(--gradient);
    padding: 160px 20px;
  }
  .clicked-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    font-size: 24px;
    text-decoration: underline;
  }
  
  .clicked-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
  }
  a:hover {
    color: fuchsia;
  }
  .primary-link {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--gradient);
    box-shadow: var(--box-shadow);
    color: var(--background);
  }
  @media (max-width: 576px) {
    h1 {
      font-size: 48px;
      line-height: 1.5;
    }
  
    h2 {
      font-size: 32px;
      text-align: center;
    }
  
    p {
      text-align: center;
    }
    .hero {
        padding: 80px 20px;
      }
  
    .project-link {
      display: block;
      text-align: center;
      margin: 0 20px;
    }
  } 
  .about-body {
    background: var(--gradient);
  }
  .about-paragraphs p {
    margin: 10px;
  }
  .about-paragraphs {
    display: flex;
    margin: 30px 0;
  }
  .grid {
    margin: 15px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid img {
    max-width: 100%;
    width: 600px;
    border-radius: 8px;
    transition: all 150ms ease-in-out;
}

.grid img:hover {
    transform: scale(2);
}
.email-link {
    display: flex;
    justify-content: center;
    color: var(--background);
    font-size: 28px;
    text-decoration: underline;
  }

  